.dropdown-tall-title{
  min-height: 46px;
  padding-top: 0px !important;
}

.dropdown-unit-pill{
  margin-right: 8px;
  margin-top: 7px;
  display: inline-block;
}

.close-white{
  display: inline-block;
  padding-left: 10px;
  cursor: pointer;
}
.close-white:hover {
  color: lightgrey;
}

.dropdown-toggle{
  white-space: normal !important;
}
