{% extends "base.html" %}

{% block head_content %}
{% load static %}
<title>SemSum - Your semester at a glance</title>
<link rel="stylesheet" href="{% static 'assessments_styles.css' %}">
{% endblock %}

{% block body_content %}
<body>

    <form method="post" action="/generate" class="form-horizontal" id="assessments-form">
            {% csrf_token %}

            <!-- Unit dropdown -->
            <fieldset>

            <div class="landing-container">
            <div class="container col-md-12">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" id="unit-select-container">
                  <div class = "logo-container">
                    <div class = "logo">
                      <div class="row">
                        <div class="col-md-4">
                          <img src = "{% static 'logo.png' %}" class="logo-img"></img>
                        </div>
                        <div class="col-md-8 logo-img"><div class="vertically-centre"><h1>Your streamlined assessment calendar.</h1></div></div>
                      </div>
                    </div>
                  </div>
                  <h2 class="mb-4 landing-title">Choose your units</h2>
                  <select action="/unit_select" name="units" class="selectpicker" id="unit-select" data-none-results-text="No results matched" data-live-search-placeholder="Search..." data-live-search="true" data-display="static" data-dropup-auto="false" multiple="multiple" data-width="100%" title="Select your units...">
                    {% for unit in unit_list %}
                      <option title="{{unit.code}}" value="{{unit.code}}" name="{{unit.code}}">{{unit.code}} – {{unit.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>
            <div class="text-center mt-5">
            <button id="generatebutton" type="submit" name="generatebutton" value="selected" class="btn btn-primary btn-lg btn-extra">Generate</button>
            </div>
            </div>
            </fieldset>

            <!-- Folder with tabs -->
            <div id="folder" class="full-height" style="display: none;">

            </div>
    </form>

</body>
{% endblock %}

{% block script_content %}
<script src="{% static 'assessments_scripts.js' %}" type="text/javascript"></script>
{% endblock %}
