<div>
    {% for key, value in assessments_dict.items %}
        {% if forloop.first %}<h5>Ongoing Assessments</h5>
        {% elif forloop.last%}<hr/><h5>Final Exam</h5>
        {% elif value|length > 0 %}<hr/><h5>Week {{key}}</h5>

            {% for a in value %}
            <p class="mb-0">
                {{a.unit.code}}: {{a.type_str}} {{a.description_title}}
                <span class="text-muted">
                    {% if a.due_date != None %}{{a.due_date}}{% endif %} {{a.weight}}
                </span>
            </p>
            {% endfor %}

        {% endif %}
    {% endfor %}
</div>
